.header-top,
.header-bottom::before,
.navbar-link::before {
    display: none;
}

.header {
    position: relative;
    min-height: 1px;
}

.header-bottom {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    background-color: var(--light-orange);
    padding-block: 20px;
    z-index: 4;
}

.header-bottom.active {
    position: fixed;
    top: -85px;
    animation: slideIn 0.5s var(--cubic-out) forwards;
}

.header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar {
    background-color: var(--black);
    color: var(--white);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    max-width: 350px;
    visibility: hidden;
    max-height: 0;
    transition: 0, 25s var(--cubic-out);
    overflow: hidden;
}

.navbar.active {
    visibility: visible;
    max-height: 275px;
    transition-duration: 0.5s;
}

.navbar-item:not(:last-child) {
    border-block-end: 1px solid var(--white_15);
}

.navbar-link {
    padding: 10px 25px;
    transition: var(--transition);
}

.navbar-link:is(:hover, :focus) {
    background-color: var(--white_10);
}

.nav-toggle-btn {
    color: var(--white);
    font-size: 30px;
    border: 1px solid var(--white);
    padding: 4px;
}

.nav-toggle-btn.active .menu,
.nav-toggle-btn .close {
    display: none;
}

.nav-toggle-btn .menu,
.nav-toggle-btn.active .close {
    display: block;
}